<div class="post-item palette-white facebook-post">
    <div class="post-meta">
        <p class="post-author">{{facebookPost.from.name}}</p>
        <p class="post-date">{{facebookPost.createdTime}}</p>
    </div>
    {{#if facebookPost.fullPicture}}
        <div class="post-image" style="background-image: url('{{facebookPost.fullPicture}}');" onclick={{action 'showOverlay' this}}>
        </div>
        {{image-overlay imageUrl=facebookPost.fullPicture}}
    {{/if}}
    {{#if facebookPost.message}}
        <div class="post-text">
            <p>{{fa-icon "quote-left" size="sm" class="text-dark-gray"}} {{facebookPost.message}} {{fa-icon "quote-right" size="sm" class="text-dark-gray"}}</p>
        </div>
    {{/if}}
    {{#if (or facebookPost.likes facebookPost.comments)}}
        <div class="post-reactions">
            {{#if facebookPost.likes}}
                <div class="post-reaction-count">
                    <div>{{facebookPost.likes.length}} {{fa-icon "thumbs-up" size="sm"}}</div>
                </div>
            {{/if}}
            {{#if facebookPost.comments}}
                <div class="post-reaction-count">
                    <div>{{facebookPost.comments.length}} {{fa-icon "comment" size="sm"}}</div>
                </div>
                <ul class="post-comments">
                    {{#each facebookPost.comments as |comment|}}
                        <li class="palette-light-gray">
                            <p class="comment-author">{{comment.from.name}}</p>
                            {{#if comment.attachment}}
                                <div class="comment-image" style="background-image: url('{{comment.attachment.imageSrc}}');" onclick={{action 'showOverlay' this}}>
                                </div>
                                {{image-overlay imageUrl=comment.attachment.imageSrc}}
                            {{/if}}
                            {{#if comment.message}}
                                <div class="comment-text">
                                    <p>{{fa-icon "quote-left" size="sm" class="text-dark-gray"}} {{comment.message}} {{fa-icon "quote-right" size="sm" class="text-dark-gray"}}</p>
                                </div>
                            {{/if}}
                            {{#if comment.comments}}
                                <ul class="comment-comments">
                                    {{#each comment.comments as |commentComment|}}
                                        <li class="palette-white">
                                            <p class="comment-author">{{commentComment.from.name}}</p>
                                            {{#if commentComment.attachment}}
                                                <div class="comment-image" style="background-image: url('{{commentComment.attachment.imageSrc}}');"  onclick={{action 'showOverlay' this}}>
                                                </div>
                                                {{image-overlay imageUrl=commentComment.attachment.imageSrc}}
                                            {{/if}}
                                            {{#if commentComment.message}}
                                                <div class="comment-text">
                                                    <p>{{fa-icon "quote-left" size="sm" class="text-dark-gray"}} {{commentComment.message}} {{fa-icon "quote-right" size="sm" class="text-dark-gray"}}</p>
                                                </div>
                                            {{/if}}
                                        </li>
                                    {{/each}}
                                </ul>
                                <div class="comments-toggle center-align" onclick={{action 'toggleCommentComments' this}}>View Replies</div>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
                <div class="comments-toggle center-align" onclick={{action 'toggleComments' this}}>View Comments</div>
            {{/if}}
        </div>
    {{/if}}
</div>